<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mayfly</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 min-h-screen py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
        <div class="p-8">
            <h1 class="text-2xl font-extrabold text-gray-900 mb-6 text-center leading-none py-1">Mayfly</h1>
            <form id="noteForm" action="/submit" method="post" class="mb-6">
                <div class="flex items-center border-b border-gray-300 py-2">
                    <input type="text" name="content" id="noteInput" required
                        class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                        placeholder="Type your note and press Enter">
                </div>
            </form>
            <ul class="space-y-2">
                {{range .}}
                <li class="bg-gray-50 rounded p-3 shadow">{{.Content}}</li>
                {{end}}
            </ul>
        </div>
    </div>

    <script>
        const noteInput = document.getElementById('noteInput');

        window.onload = function () {
            noteInput.focus();
        }

        document.addEventListener('click', function (e) {
            if (e.target !== noteInput) {
                e.preventDefault();
                noteInput.focus();
            }
        });

        noteInput.addEventListener('keypress', function (e) {
            if (e.key === 'Enter') {
                e.preventDefault();
                document.getElementById('noteForm').submit();
            }
        });
    </script>
</body>

</html>